:root {
  --text-main-color: #212121; /*основной цвет текста*/
  --light-main-color: #ffffff; /*белый цвет текста*/
  --description-color: #757575; /*цвет описания списков */
  --accent-color: #2196f3; /*цвет и акцентов */
  --main-bg: #fff; /*цвет основного бєкгроунда */
  --light-gray: #f5f4fa; /*цвет кнопок и рамок*/
  --logo: #000000;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background: var(--main-bg);
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

.logo {
  font-family: "Raleway"; /* задаём шрифт и размер ЛОГО */
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo);
}

.logo-accent {
  /*  цвет левой части ЛОГО */
  color: var(--accent-color);
}

.logo-white {
  /*  цвет правой части ЛОГО в подвале */
  color: var(--light-main-color);
}

/* цвет и стиль ссылок*/
.links,
.logo {
  text-decoration: none;
}

/* стиль ссылкок шапка */
.hat,
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-main-color);
}

/* цвет ссылок контактов шапка*/
.contacts {
  color: var(--description-color);
}

/* цвет ховера и текущ. ссылки*/
.links:hover,
.current {
  color: var(--accent-color);
}

.links:focus {
  color: green;
}

.links:active {
  color: red;
}

/*  стиль ссылок в подвале */
.foot-links,
.street-links {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*  цвет адреса в подвале */
.street-links {
  color: var(--light-main-color);
}

.list {
  list-style: none; /* оформление списка Убираем маркеры у li*/
}

.hero-base,
.footer-base {
  /* основа цвета ШАПКИ и подвала */
  background: #2f303a;

}

h1 {
  /* параметры шрифта Заголовка h1 */
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-main-color);
}

.btn-hero {
  /* оформляем кнопку Замовити */
  width: 216px;
  height: 50px;
  background: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--light-main-color);
  /* курсор мыши при наведении*/
  cursor: pointer;
  margin-top: 30px;
}

.btn-hero:hover {
  /* цвет кнопки при наведении */
  background: #188ce8;
}

.btn-hero:focus {
  /* цвет кнопки при нажатии */
  background: var(--accent-color);
}

.btn-hero:active {
  /* цвет кнопки при нажатии */
  background: #88c4f5;
}

.features-header {
  /* заголовок в особенностях */
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-main-color);
}

.features-par {
  /* оформление списка Особенности  */
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-color);
  margin-top: 10px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h2 {
  /* заголовкок в Чим Займаемося и Наша команда */
  font-weight: 700;
  font-size: 36px;
  line-height: 1.44;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
}

.our-team {
  /* фон блока Наша команда */
  background: #f5f4fa;

}

.our-team-header {
  /* стиль заголовков Наша команда */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
  padding-top: 30px;
  padding-bottom: 10px;
}

.our-team-item {
  background: #ffffff;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.our-team p {
  /* имена и профессии команды */
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

.address-style {
  /* стиль адреса */
  font-style: inherit;
  padding-top: 20px;
  line-height: 1.8;
}

/*  Портфолио */

.btn-filtr {
  /* цвет кнопок фильтра*/
  font-family: inherit;
  font-style: normal;
  color: var(--text-main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  cursor: pointer;
}

.btn-filtr.primary {
  background: var(--light-gray);
}

.btn-filtr.curr,
.btn-filtr:hover {
  color: var(--light-main-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-filtr:focus {
  border: 1px solid var(--accent-color);
}

.btn-filtr:active {
  background: #58aef5;
  color: var(--light-main-color);
}

.our-joblist-style {
  /* стиль списка Наши работы */
  background: var(--main-bg);
  border: 1px solid var(--light-gray);
  max-width: 370px;
   /*отступ между меэлементами списка*/
}

.our-joblist-style h3 {
  /* стиль заголовков Наша команда */
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-main-color);
}

.our-joblist-style p {
  /* имена и профессии команды */
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 2.5;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

/* параметры секции header */
.header {
  width: 1200px;
  margin: auto;
}

.header-container {
  /*border: 1px solid green;*/
  border-bottom: 1px solid #ECECEC;
}

.header-nav {
  border: 0px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.header-menu {
  display: flex;
  /* flex-grow: 0; */
  gap: 50px;
  padding-left: 93px;
}

/* параметры секции Main */

.main {
  width: 1200px;
  margin: auto;
}

/* секции index.html */
.hero-base-container {
  text-align: center;
  width: 696px;
  margin: auto;
  padding: 200px 0px;
}

.features {
  border: 0px solid black;
  width: 1170px;
  margin: auto;
  padding-top: 94px;
}

.feautures-container {
  border: 0px solid red;
  margin-bottom: 94px;
}

.feautures-list {
  display: flex;
  gap: 30px;
}

.features-item {
  width: 270px;
}

.whatwedo-container {
  border: 0px solid black;
  width: 1170px;
  margin: auto;
  text-align: center;
  padding-bottom: 94px;
}

.whatwedo-item {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.whatwedo-img{
  display: block;
}

.our-team-container {
  border: 0px solid black;
  width: 1200px;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team-list {
  padding-top: 50px ;
  display: flex;
  gap: 30px;
  width: 1170px;
  margin: auto;
}

.footer-base {
  width: 1200px;
  margin: auto;
  padding: 60px 30px;
}

/* портфолио */

/* секция фильтры */

.portfolio-container {
  border: 0px solid black; 
  margin-top: 94px;
  margin-bottom: 94px;
}


.filters_container {
  width: 575px;
  margin: auto;
  padding-bottom: 34px;
}

.filters_list {
  display: flex;
  justify-content: space-between;
}

.our-joblist-container {
 max-width: 1170px;
 border: 0px solid black;
 margin: auto;
}

.our-jobs {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.jobs-img{
  display: block;
}

.job-title {
  padding: 15px 24px 15px 24px;
  border: 0px solid black;
}
